RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]


### begin Sprinthost-redirects 29.03.2017 15:09
### Sprinthost-redirects end
